__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
venv
../venv/
/venv/
env/
*.venv
*.env
Pipfile
Pipfile.lock

# Django specific files
*.log
db.sqlite3
*.sqlite3
media
media/
media/images
staticfiles/
*.pyc


# Ignore secrets and environment files
.env
*.env
# Ignore migrations cache (optional)
migrations/
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.py

# Ignore compiled files
*.egg-info/
*.manifest
*.spec

