{% extends 'admin_portal/base_admin_portal.html' %}
{% block admin_title %}{{ admin_title }}{% endblock %}
{% block admin_content %}
{% if form %}<form method="post" class="card card-body shadow-sm">{% csrf_token %}{{ form.as_p }}<button class="btn btn-success">Submit</button></form>{% else %}<p><a class="btn btn-sm btn-outline-success" href="{% url 'admin:index' %}">Manage in Django Admin</a></p><div class="card shadow-sm"><div class="table-responsive"><table class="table table-hover mb-0"><tbody>{% for object in objects %}<tr><td>{{ object }}</td><td>{{ object.created_at|date:'d M Y' }}</td></tr>{% empty %}<tr><td>No records yet.</td></tr>{% endfor %}</tbody></table></div></div>{% endif %}
{% endblock %}
